# Seoul_report.csv 읽기
+ 서울시 주민등록인구 (구별) 통계 - [서울열린데이터광장 ](http://data.seoul.go.kr/dataList/datasetView.do?serviceKind=2&infId=419&stcSrl=419&srvType=S) 
- [통계청kosis](https://kosis.kr/index/index.do)
- [UCI](https://archive.ics.uci.edu/ml/index.php)

## 1. CSV 파일 읽기
- Seoul_report.csv 파일의 내용을 DataFrame으로 읽고 변수에 대입

In [2]:
import numpy as np
import pandas as pd

In [5]:
df_raw = pd.read_csv('Seoul_report.csv') # index = False로 주고싶은데 왜 에러? 어떨때 false? 
df_raw
df_raw.shape
df_raw.columns
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   자치구       26 non-null     object
 1   세대        26 non-null     int64
 2   총합계       26 non-null     int64
 3   남자        26 non-null     int64
 4   여자        26 non-null     int64
 5   한국인합계     26 non-null     int64
 6   한국인남자     26 non-null     int64
 7   한국인여자     26 non-null     int64
 8   외국인합계     26 non-null     int64
 9   남자외국인     26 non-null     int64
 10  여자외국인     26 non-null     int64
 11  세대당인구     26 non-null     float64
 12  65세이상고령자  26 non-null     int64
dtypes: float64(1), int64(11), object(1)
memory usage: 2.8+ KB

# 2. 열명 변경
- 읽은 DataFrame에 어떤 컬럼이 있는지 확인하고 열명을 아래와 같이 바꾼다. (이외 열이름은 그대로 유지)    
    - '총합계' : '총인구' 
    - '한국인합계': '한국인'
    - '외국인합계' : '외국인'
    - '65세이상고령자' : '고령자'

In [8]:
# seoul_df.info()

# ch_columns = ['자치구','세대','총인구','남자','여자','한국인','한국인남자','한국인여자','외국인','남자외국인','여자외국인','세대당인구','고령자']
# df_raw.columns = [ch_columns] 
# seoul_df 

dic = {'총합계':'총인구', '한국인합계' : '한국인', '외국인합계' : '외국인', '65세이상고령자' : '고령자'}
df_raw.rename(dic, axis = 1, inplace = True) # 원본 바꾸고 싶으면 inplace = true

In [7]:
df_raw.head() # 결과 확인할 때 이왕이면 따로 지정해서 출력하는게 좋음, 한번 더 실행하면 결과가 라질수도 있기 때문에

,자치구,세대,총인구,남자,여자,한국인,한국인남자,한국인여자,외국인,남자외국인,여자외국인,세대당인구,고령자
0,합계,4237610,10112070,4948481,5163589,9838892,4817507,5021385,273178,130974,142204,2.32,1382420
1,종로구,73879,164348,79962,84386,154549,75749,78800,9799,4213,5586,2.09,26429
2,중구,60903,135139,66582,68557,126082,62376,63706,9057,4206,4851,2.07,21655
3,용산구,108497,245411,119985,125426,229909,111262,118647,15502,8723,6779,2.12,37238
4,성동구,134543,314551,154672,159879,306532,150937,155595,8019,3735,4284,2.28,41752

컬럼 변경 방법 2가지
1. df.columns = []     
    - 이 방법은 전체 다 입력해줘야 함.     
1. df.rename = ({'변경전컬럼명' : '변경후컬럼명'})

# 3. 사용할 열들만 추출
- 자치구, 총인구, 한국인, 외국인, 고령자 열만 가지는 dataframe 생성
    - shape이 (5, n) 이 되도록

In [10]:
df = df_raw[['자치구', '총인구', '한국인', '외국인', '고령자']]
df.shape

(26, 5)

<설명>
- 인덱싱은 원본을 변경하는 것이 아니라 복사본이다.

# 4. DataFrame 개괄 정보 조회
1. 몇행/몇열인지 조회
1. 결측치가 있는지 조회
1. DataFrame에 대한 정보(index, columns) 확인
1. 상위 5개 행만 조회
1. 하위 5개 행만 조회
1. 컬럼별 통계량 요약 조회

In [52]:
df.shape

(26, 13)

In [13]:
# 이거 다시 확인 
df.isnull()

      자치구    총인구    한국인    외국인    고령자
0   False  False  False  False  False
1   False  False  False  False  False
2   False  False  False  False  False
3   False  False  False  False  False
4   False  False  False  False  False
5   False  False  False  False  False
6   False  False  False  False  False
7   False  False  False  False  False
8   False  False  False  False  False
9   False  False  False  False  False
10  False  False  False  False  False
11  False  False  False  False  False
12  False  False  False  False  False
13  False  False  False  False  False
14  False  False  False  False  False
15  False  False  False  False  False
16  False  False  False  False  False
17  False  False  False  False  False
18  False  False  False  False  False
19  False  False  False  False  False
20  False  False  False  False  False
21  False  False  False  False  False
22  False  False  False  False  False
23  False  False  False  False  False
24  False  False  False  False  False
25  False  False  False  False  False

In [14]:
# DataFrame에 대한 정보(index, columns) 확인
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   자치구     26 non-null     object
 1   총인구     26 non-null     int64
 2   한국인     26 non-null     int64
 3   외국인     26 non-null     int64
 4   고령자     26 non-null     int64
dtypes: int64(4), object(1)
memory usage: 1.1+ KB

In [ ]:
df.head(5)

In [ ]:
df.tail(5)

In [15]:
# 컬럼별 통계량 요약 조회
df.describe()

                총인구           한국인            외국인           고령자
count  2.600000e+01  2.600000e+01      26.000000  2.600000e+01
mean   7.778515e+05  7.568378e+05   21013.692308  1.063400e+05
std    1.907984e+06  1.856777e+06   52081.287523  2.606869e+05
min    1.351390e+05  1.260820e+05    2180.000000  2.165500e+04
25%    3.318935e+05  3.286118e+05    4434.250000  4.976425e+04
50%    4.091335e+05  4.006105e+05    9428.000000  5.663350e+04
75%    4.859615e+05  4.817318e+05   15257.000000  6.663675e+04
max    1.011207e+07  9.838892e+06  273178.000000  1.382420e+06

# 5. 열이름으로 조회
1. 총인구 열의 모든 값들을 조회
1. 한국인, 외국인 열의 모든 값들을 조회

In [17]:
df_raw.loc[:,['총인구']]
df['총인구']

0     10112070
1       164348
2       135139
3       245411
4       314551
5       371671
6       364962
7       411552
8       453902
9       327511
10      345041
11      555803
12      490253
13      324871
14      385624
15      473087
16      608361
17      440396
18      253344
19      403988
20      406715
21      522292
22      445164
23      557865
24      671994
25      438225
Name: 총인구, dtype: int64

In [18]:
# seoul_df.loc[:,['한국인','외국인']]
df[['한국인','외국인']]

        한국인     외국인
0   9838892  273178
1    154549    9799
2    126082    9057
3    229909   15502
4    306532    8019
5    357149   14522
6    349308   15654
7    406868    4684
8    442226   11676
9    323862    3649
10   342861    2180
11   551902    3901
12   485902    4351
13   312311   12560
14   374742   10882
15   469221    3866
16   601696    6665
17   408369   32027
18   234238   19106
19   369128   34860
20   394353   12362
21   504445   17847
22   440954    4210
23   552976    4889
24   665282    6712
25   434027    4198

# 6. 행기준 조회 
1. 5번째 행의 데이터를 조회.
1. 1, 5, 7, 10 번째 행의 데이터를 조회
1. 15 ~ 20 번째 행의 데이터를 조회
1. 10~15 행에서 자치구, 총인구, 한국인 열의 값을 조회
1. 6, 7, 8 번째 행의 한국인, 외국인 열의 값을 조회

- iloc 
- loc

In [21]:
# 5번째 행의 데이터를 조회.
df.iloc[4]

자치구       성동구
총인구    314551
한국인    306532
외국인      8019
고령자     41752
Name: 4, dtype: object

In [24]:
# 1, 5, 7, 10 번째 행의 데이터를 조회
df.iloc[[0, 4, 6, 9]]

    자치구       총인구      한국인     외국인      고령자
0    합계  10112070  9838892  273178  1382420
4   성동구    314551   306532    8019    41752
6  동대문구    364962   349308   15654    56284
9   강북구    327511   323862    3649    57002

In [25]:
#15 ~ 20 번째 행의 데이터를 조회
df.iloc[14:21]

     자치구     총인구     한국인    외국인    고령자
14   마포구  385624  374742  10882  50122
15   양천구  473087  469221   3866  56070
16   강서구  608361  601696   6665  77381
17   구로구  440396  408369  32027  59838
18   금천구  253344  234238  19106  34640
19  영등포구  403988  369128  34860  54704
20   동작구  406715  394353  12362  57711

In [29]:
# 10~15 행에서 자치구, 총인구, 한국인 열의 값을 조회
df.loc[10:15,['자치구','총인구','한국인']]

IndexError: .iloc requires numeric indexers, got ['자치구' '총인구' '한국인']

In [32]:
# 6, 7, 8 번째 행의 한국인, 외국인 열의 값을 조회
df.loc[6:8,['한국인','외국인']]

      한국인    외국인
6  349308  15654
7  406868   4684
8  442226  11676

# 7. index 이름 지정
1. '자치구' 열을 index로 설정
1. 데이터 프레임의 index이름 조회
1. 강남구 행 조회
1. 종로구, 성동구, 서대문구 행 조회
1. 노원구 ~ 금천구 조회
1. 종로구의 한국인,외국인 열의 값 조회
1. 도봉구, 노원구, 송파구의 총인구와 고령자 열의 값 조회

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   자치구     26 non-null     object
 1   총인구     26 non-null     int64
 2   한국인     26 non-null     int64
 3   외국인     26 non-null     int64
 4   고령자     26 non-null     int64
dtypes: int64(4), object(1)
memory usage: 1.1+ KB

In [169]:
# 1. '자치구' 열을 index로 설정
# seoul_df_1.set_index('자치구') # 왜 셋인덱스가 잘 안먹히지... only integer scalar arrays can be converted to a scalar index
new_df = seoul_df_1.set_index('자치구',) #why? 
new_df

,세대,총인구,남자,여자,한국인,한국인남자,한국인여자,외국인,남자외국인,여자외국인,세대당인구,고령자
자치구,,,,,,,,,,,,
합계,4237610,10112070,4948481,5163589,9838892,4817507,5021385,273178,130974,142204,2.32,1382420
종로구,73879,164348,79962,84386,154549,75749,78800,9799,4213,5586,2.09,26429
중구,60903,135139,66582,68557,126082,62376,63706,9057,4206,4851,2.07,21655
용산구,108497,245411,119985,125426,229909,111262,118647,15502,8723,6779,2.12,37238
성동구,134543,314551,154672,159879,306532,150937,155595,8019,3735,4284,2.28,41752
광진구,161407,371671,180206,191465,357149,173946,183203,14522,6260,8262,2.21,44470
동대문구,160489,364962,180381,184581,349308,174476,174832,15654,5905,9749,2.18,56284
중랑구,179600,411552,204411,207141,406868,202526,204342,4684,1885,2799,2.27,59992
성북구,187234,453902,220024,233878,442226,215421,226805,11676,4603,7073,2.36,66896
강북구,143139,327511,159853,167658,323862,158440,165422,3649,1413,2236,2.26,57002
도봉구,137479,345041,168833,176208,342861,168009,174852,2180,824,1356,2.49,54293
노원구,217999,555803,269762,286041,551902,268144,283758,3901,1618,2283,2.53,75081
은평구,203431,490253,237542,252711,485902,235674,250228,4351,1868,2483,2.39,75535
서대문구,137758,324871,154960,169911,312311,150793,161518,12560,4167,8393,2.27,49645
마포구,170219,385624,182905,202719,374742,178661,196081,10882,4244,6638,2.20,50122
양천구,176559,473087,233189,239898,469221,231409,237812,3866,1780,2086,2.66,56070
강서구,256042,608361,296098,312263,601696,292871,308825,6665,3227,3438,2.35,77381
구로구,171751,440396,220903,219493,408369,202731,205638,32027,18172,13855,2.38,59838
금천구,106333,253344,129791,123553,234238,119023,115215,19106,10768,8338,2.20,34640
영등포구,168784,403988,203472,200516,369128,184127,185001,34860,19345,15515,2.19,54704
동작구,173544,406715,197848,208867,394353,192215,202138,12362,5633,6729,2.27,57711
관악구,258536,522292,262428,259864,504445,253911,250534,17847,8517,9330,1.95,70807
서초구,174225,445164,213279,231885,440954,211156,229798,4210,2123,2087,2.53,54055
강남구,231219,557865,267314,290551,552976,264834,288142,4889,2480,2409,2.39,65859
송파구,266550,671994,326511,345483,665282,323228,342054,6712,3283,3429,2.50,77978
강동구,177490,438225,217570,220655,434027,215588,218439,4198,1982,2216,2.45,56983

In [171]:
# 2. 데이터 프레임의 index이름 조회
new_df.index

Index(['합계', '종로구', '중구', '용산구', '성동구', '광진구', '동대문구', '중랑구', '성북구', '강북구',
       '도봉구', '노원구', '은평구', '서대문구', '마포구', '양천구', '강서구', '구로구', '금천구', '영등포구',
       '동작구', '관악구', '서초구', '강남구', '송파구', '강동구'],
      dtype='object', name='자치구')

In [176]:
# 3. 강남구 행 조회
new_df.loc['강남구']

세대       231219.00
총인구      557865.00
남자       267314.00
여자       290551.00
한국인      552976.00
한국인남자    264834.00
한국인여자    288142.00
외국인        4889.00
남자외국인      2480.00
여자외국인      2409.00
세대당인구         2.39
고령자       65859.00
Name: 강남구, dtype: float64

In [177]:
# 4. 종로구, 성동구, 서대문구 행 조회
new_df.loc[['종로구','성동구','서대문구']]

,세대,총인구,남자,여자,한국인,한국인남자,한국인여자,외국인,남자외국인,여자외국인,세대당인구,고령자
자치구,,,,,,,,,,,,
종로구,73879,164348,79962,84386,154549,75749,78800,9799,4213,5586,2.09,26429
성동구,134543,314551,154672,159879,306532,150937,155595,8019,3735,4284,2.28,41752
서대문구,137758,324871,154960,169911,312311,150793,161518,12560,4167,8393,2.27,49645

In [180]:
# 5. 노원구 ~ 금천구 조회
new_df.loc['노원구':'금천구']

,세대,총인구,남자,여자,한국인,한국인남자,한국인여자,외국인,남자외국인,여자외국인,세대당인구,고령자
자치구,,,,,,,,,,,,
노원구,217999,555803,269762,286041,551902,268144,283758,3901,1618,2283,2.53,75081
은평구,203431,490253,237542,252711,485902,235674,250228,4351,1868,2483,2.39,75535
서대문구,137758,324871,154960,169911,312311,150793,161518,12560,4167,8393,2.27,49645
마포구,170219,385624,182905,202719,374742,178661,196081,10882,4244,6638,2.20,50122
양천구,176559,473087,233189,239898,469221,231409,237812,3866,1780,2086,2.66,56070
강서구,256042,608361,296098,312263,601696,292871,308825,6665,3227,3438,2.35,77381
구로구,171751,440396,220903,219493,408369,202731,205638,32027,18172,13855,2.38,59838
금천구,106333,253344,129791,123553,234238,119023,115215,19106,10768,8338,2.20,34640

In [181]:
# 6. 종로구의 한국인,외국인 열의 값 조회
new_df.loc['종로구',['한국인','외국인']]

한국인    154549.0
외국인      9799.0
Name: 종로구, dtype: float64

In [182]:
# 7. 도봉구, 노원구, 송파구의 총인구와 고령자 열의 값 조회
new_df.loc[['도봉구','노원구','송파구'],['총인구','고령자']]

        총인구    고령자
자치구
도봉구  345041  54293
노원구  555803  75081
송파구  671994  77978

# 8. Boolean 인덱싱 - 조건으로 조회
1. 총인구가 500,000 이상인 행 조회
1. 외국인이 15,000 이상인 행의 한국인, 외국인 열 조회
1. 외국인이 고령자보다 많은 행을 조회 (없으므로 아무 행도 안나오는게 정상임)
1. 고령자수가 60,000 ~ 70,000 인 행 조회
1. 외국인이 15,000 이상이고 고령자가 50,000 이상인 행을 조회

In [196]:
# 1. 총인구가 500,000 이상인 행 조회
# new_df[new_df['총인구'] >= 500000]
seoul_df_1[seoul_df_1['총인구'] >= 500000]

,자치구,세대,총인구,남자,여자,한국인,한국인남자,한국인여자,외국인,남자외국인,여자외국인,세대당인구,고령자
0,합계,4237610,10112070,4948481,5163589,9838892,4817507,5021385,273178,130974,142204,2.32,1382420
11,노원구,217999,555803,269762,286041,551902,268144,283758,3901,1618,2283,2.53,75081
16,강서구,256042,608361,296098,312263,601696,292871,308825,6665,3227,3438,2.35,77381
21,관악구,258536,522292,262428,259864,504445,253911,250534,17847,8517,9330,1.95,70807
23,강남구,231219,557865,267314,290551,552976,264834,288142,4889,2480,2409,2.39,65859
24,송파구,266550,671994,326511,345483,665282,323228,342054,6712,3283,3429,2.50,77978

In [198]:
# 2. 외국인이 15,000 이상인 행의 한국인, 외국인 열 조회
# new_df.loc[new_df['외국인'] >= 15000,['한국인','외국인']]
seoul_df_1.loc[seoul_df_1['외국인'] >= 15000,['한국인','외국인']]

        한국인     외국인
0   9838892  273178
3    229909   15502
6    349308   15654
17   408369   32027
18   234238   19106
19   369128   34860
21   504445   17847

In [200]:
# 3. 외국인이 고령자보다 많은 행을 조회 (없으므로 아무 행도 안나오는게 정상임)
seoul_df_1[seoul_df_1['외국인'] > seoul_df_1['고령자']]

Empty DataFrame
Columns: [자치구, 세대, 총인구, 남자, 여자, 한국인, 한국인남자, 한국인여자, 외국인, 남자외국인, 여자외국인, 세대당인구, 고령자]
Index: []

In [35]:
# 4. 고령자수가 60,000 ~ 70,000 인 행 조회
# seoul_df_1[(seoul_df_1['고령자']>= 60000) & (seoul_df_1['고령자']<= 70000)]

# 시리즈.between(a, b) : between a and b 
df.loc[df['고령자'].between(60000,70000)]
df[df['고령자'].between(60000,70000)]

    자치구     총인구     한국인    외국인    고령자
8   성북구  453902  442226  11676  66896
23  강남구  557865  552976   4889  65859

In [206]:
# 5. 외국인이 15,000 이상이고 고령자가 50,000 이상인 행을 조회
seoul_df_1[(seoul_df_1['외국인'] >= 15000) & (seoul_df_1['고령자'] >= 50000)]

,자치구,세대,총인구,남자,여자,한국인,한국인남자,한국인여자,외국인,남자외국인,여자외국인,세대당인구,고령자
0,합계,4237610,10112070,4948481,5163589,9838892,4817507,5021385,273178,130974,142204,2.32,1382420
6,동대문구,160489,364962,180381,184581,349308,174476,174832,15654,5905,9749,2.18,56284
17,구로구,171751,440396,220903,219493,408369,202731,205638,32027,18172,13855,2.38,59838
19,영등포구,168784,403988,203472,200516,369128,184127,185001,34860,19345,15515,2.19,54704
21,관악구,258536,522292,262428,259864,504445,253911,250534,17847,8517,9330,1.95,70807

# 9. 정렬
1. 자치구컬럼 기준 오름차순 순으로 정렬
1. 자치구컬럼 기준 내림차순 순으로 정렬
1. 외국인이 많이 있는 순으로 정렬
1. 한국인이 많이 있는 순서로 정렬하고 혹시 같으면 고령자가 적은 순으로 2차 정렬
1. 합계를 지우고 총인구 내림차순으로 정렬

In [208]:
# 1. 자치구컬럼 기준 오름차순 순으로 정렬
seoul_df_1.sort_values('자치구')

,자치구,세대,총인구,남자,여자,한국인,한국인남자,한국인여자,외국인,남자외국인,여자외국인,세대당인구,고령자
23,강남구,231219,557865,267314,290551,552976,264834,288142,4889,2480,2409,2.39,65859
25,강동구,177490,438225,217570,220655,434027,215588,218439,4198,1982,2216,2.45,56983
9,강북구,143139,327511,159853,167658,323862,158440,165422,3649,1413,2236,2.26,57002
16,강서구,256042,608361,296098,312263,601696,292871,308825,6665,3227,3438,2.35,77381
21,관악구,258536,522292,262428,259864,504445,253911,250534,17847,8517,9330,1.95,70807
5,광진구,161407,371671,180206,191465,357149,173946,183203,14522,6260,8262,2.21,44470
17,구로구,171751,440396,220903,219493,408369,202731,205638,32027,18172,13855,2.38,59838
18,금천구,106333,253344,129791,123553,234238,119023,115215,19106,10768,8338,2.20,34640
11,노원구,217999,555803,269762,286041,551902,268144,283758,3901,1618,2283,2.53,75081
10,도봉구,137479,345041,168833,176208,342861,168009,174852,2180,824,1356,2.49,54293
6,동대문구,160489,364962,180381,184581,349308,174476,174832,15654,5905,9749,2.18,56284
20,동작구,173544,406715,197848,208867,394353,192215,202138,12362,5633,6729,2.27,57711
14,마포구,170219,385624,182905,202719,374742,178661,196081,10882,4244,6638,2.20,50122
13,서대문구,137758,324871,154960,169911,312311,150793,161518,12560,4167,8393,2.27,49645
22,서초구,174225,445164,213279,231885,440954,211156,229798,4210,2123,2087,2.53,54055
4,성동구,134543,314551,154672,159879,306532,150937,155595,8019,3735,4284,2.28,41752
8,성북구,187234,453902,220024,233878,442226,215421,226805,11676,4603,7073,2.36,66896
24,송파구,266550,671994,326511,345483,665282,323228,342054,6712,3283,3429,2.50,77978
15,양천구,176559,473087,233189,239898,469221,231409,237812,3866,1780,2086,2.66,56070
19,영등포구,168784,403988,203472,200516,369128,184127,185001,34860,19345,15515,2.19,54704
3,용산구,108497,245411,119985,125426,229909,111262,118647,15502,8723,6779,2.12,37238
12,은평구,203431,490253,237542,252711,485902,235674,250228,4351,1868,2483,2.39,75535
1,종로구,73879,164348,79962,84386,154549,75749,78800,9799,4213,5586,2.09,26429
2,중구,60903,135139,66582,68557,126082,62376,63706,9057,4206,4851,2.07,21655
7,중랑구,179600,411552,204411,207141,406868,202526,204342,4684,1885,2799,2.27,59992
0,합계,4237610,10112070,4948481,5163589,9838892,4817507,5021385,273178,130974,142204,2.32,1382420

In [209]:
# 2. 자치구컬럼 기준 내림차순 순으로 정렬
seoul_df_1.sort_values('자치구', ascending=False)

,자치구,세대,총인구,남자,여자,한국인,한국인남자,한국인여자,외국인,남자외국인,여자외국인,세대당인구,고령자
0,합계,4237610,10112070,4948481,5163589,9838892,4817507,5021385,273178,130974,142204,2.32,1382420
7,중랑구,179600,411552,204411,207141,406868,202526,204342,4684,1885,2799,2.27,59992
2,중구,60903,135139,66582,68557,126082,62376,63706,9057,4206,4851,2.07,21655
1,종로구,73879,164348,79962,84386,154549,75749,78800,9799,4213,5586,2.09,26429
12,은평구,203431,490253,237542,252711,485902,235674,250228,4351,1868,2483,2.39,75535
3,용산구,108497,245411,119985,125426,229909,111262,118647,15502,8723,6779,2.12,37238
19,영등포구,168784,403988,203472,200516,369128,184127,185001,34860,19345,15515,2.19,54704
15,양천구,176559,473087,233189,239898,469221,231409,237812,3866,1780,2086,2.66,56070
24,송파구,266550,671994,326511,345483,665282,323228,342054,6712,3283,3429,2.50,77978
8,성북구,187234,453902,220024,233878,442226,215421,226805,11676,4603,7073,2.36,66896
4,성동구,134543,314551,154672,159879,306532,150937,155595,8019,3735,4284,2.28,41752
22,서초구,174225,445164,213279,231885,440954,211156,229798,4210,2123,2087,2.53,54055
13,서대문구,137758,324871,154960,169911,312311,150793,161518,12560,4167,8393,2.27,49645
14,마포구,170219,385624,182905,202719,374742,178661,196081,10882,4244,6638,2.20,50122
20,동작구,173544,406715,197848,208867,394353,192215,202138,12362,5633,6729,2.27,57711
6,동대문구,160489,364962,180381,184581,349308,174476,174832,15654,5905,9749,2.18,56284
10,도봉구,137479,345041,168833,176208,342861,168009,174852,2180,824,1356,2.49,54293
11,노원구,217999,555803,269762,286041,551902,268144,283758,3901,1618,2283,2.53,75081
18,금천구,106333,253344,129791,123553,234238,119023,115215,19106,10768,8338,2.20,34640
17,구로구,171751,440396,220903,219493,408369,202731,205638,32027,18172,13855,2.38,59838
5,광진구,161407,371671,180206,191465,357149,173946,183203,14522,6260,8262,2.21,44470
21,관악구,258536,522292,262428,259864,504445,253911,250534,17847,8517,9330,1.95,70807
16,강서구,256042,608361,296098,312263,601696,292871,308825,6665,3227,3438,2.35,77381
9,강북구,143139,327511,159853,167658,323862,158440,165422,3649,1413,2236,2.26,57002
25,강동구,177490,438225,217570,220655,434027,215588,218439,4198,1982,2216,2.45,56983
23,강남구,231219,557865,267314,290551,552976,264834,288142,4889,2480,2409,2.39,65859

In [212]:
# 3. 외국인이 많이 있는 순으로 정렬
seoul_df_1.sort_values('외국인', ascending=False)

,자치구,세대,총인구,남자,여자,한국인,한국인남자,한국인여자,외국인,남자외국인,여자외국인,세대당인구,고령자
0,합계,4237610,10112070,4948481,5163589,9838892,4817507,5021385,273178,130974,142204,2.32,1382420
19,영등포구,168784,403988,203472,200516,369128,184127,185001,34860,19345,15515,2.19,54704
17,구로구,171751,440396,220903,219493,408369,202731,205638,32027,18172,13855,2.38,59838
18,금천구,106333,253344,129791,123553,234238,119023,115215,19106,10768,8338,2.20,34640
21,관악구,258536,522292,262428,259864,504445,253911,250534,17847,8517,9330,1.95,70807
6,동대문구,160489,364962,180381,184581,349308,174476,174832,15654,5905,9749,2.18,56284
3,용산구,108497,245411,119985,125426,229909,111262,118647,15502,8723,6779,2.12,37238
5,광진구,161407,371671,180206,191465,357149,173946,183203,14522,6260,8262,2.21,44470
13,서대문구,137758,324871,154960,169911,312311,150793,161518,12560,4167,8393,2.27,49645
20,동작구,173544,406715,197848,208867,394353,192215,202138,12362,5633,6729,2.27,57711
8,성북구,187234,453902,220024,233878,442226,215421,226805,11676,4603,7073,2.36,66896
14,마포구,170219,385624,182905,202719,374742,178661,196081,10882,4244,6638,2.20,50122
1,종로구,73879,164348,79962,84386,154549,75749,78800,9799,4213,5586,2.09,26429
2,중구,60903,135139,66582,68557,126082,62376,63706,9057,4206,4851,2.07,21655
4,성동구,134543,314551,154672,159879,306532,150937,155595,8019,3735,4284,2.28,41752
24,송파구,266550,671994,326511,345483,665282,323228,342054,6712,3283,3429,2.50,77978
16,강서구,256042,608361,296098,312263,601696,292871,308825,6665,3227,3438,2.35,77381
23,강남구,231219,557865,267314,290551,552976,264834,288142,4889,2480,2409,2.39,65859
7,중랑구,179600,411552,204411,207141,406868,202526,204342,4684,1885,2799,2.27,59992
12,은평구,203431,490253,237542,252711,485902,235674,250228,4351,1868,2483,2.39,75535
22,서초구,174225,445164,213279,231885,440954,211156,229798,4210,2123,2087,2.53,54055
25,강동구,177490,438225,217570,220655,434027,215588,218439,4198,1982,2216,2.45,56983
11,노원구,217999,555803,269762,286041,551902,268144,283758,3901,1618,2283,2.53,75081
15,양천구,176559,473087,233189,239898,469221,231409,237812,3866,1780,2086,2.66,56070
9,강북구,143139,327511,159853,167658,323862,158440,165422,3649,1413,2236,2.26,57002
10,도봉구,137479,345041,168833,176208,342861,168009,174852,2180,824,1356,2.49,54293

In [39]:
# 4. 한국인이 많이 있는 순서로 정렬하고 혹시 같으면 고령자가 적은 순으로 2차 정렬
df.sort_values(['한국인','고령자'],ascending = [False,True])

     자치구       총인구      한국인     외국인      고령자
0     합계  10112070  9838892  273178  1382420
24   송파구    671994   665282    6712    77978
16   강서구    608361   601696    6665    77381
23   강남구    557865   552976    4889    65859
11   노원구    555803   551902    3901    75081
21   관악구    522292   504445   17847    70807
12   은평구    490253   485902    4351    75535
15   양천구    473087   469221    3866    56070
8    성북구    453902   442226   11676    66896
22   서초구    445164   440954    4210    54055
25   강동구    438225   434027    4198    56983
17   구로구    440396   408369   32027    59838
7    중랑구    411552   406868    4684    59992
20   동작구    406715   394353   12362    57711
14   마포구    385624   374742   10882    50122
19  영등포구    403988   369128   34860    54704
5    광진구    371671   357149   14522    44470
6   동대문구    364962   349308   15654    56284
10   도봉구    345041   342861    2180    54293
9    강북구    327511   323862    3649    57002
13  서대문구    324871   312311   12560    49645
4    성동구    314551   306532    8019    41752
18   금천구    253344   234238   19106    34640
3    용산구    245411   229909   15502    37238
1    종로구    164348   154549    9799    26429
2     중구    135139   126082    9057    21655

In [45]:
# 5. 합계를 지우고 총인구 내림차순으로 정렬
df.drop(index=[0]).sort_values('총인구', ascending = False)

     자치구     총인구     한국인    외국인    고령자
24   송파구  671994  665282   6712  77978
16   강서구  608361  601696   6665  77381
23   강남구  557865  552976   4889  65859
11   노원구  555803  551902   3901  75081
21   관악구  522292  504445  17847  70807
12   은평구  490253  485902   4351  75535
15   양천구  473087  469221   3866  56070
8    성북구  453902  442226  11676  66896
22   서초구  445164  440954   4210  54055
17   구로구  440396  408369  32027  59838
25   강동구  438225  434027   4198  56983
7    중랑구  411552  406868   4684  59992
20   동작구  406715  394353  12362  57711
19  영등포구  403988  369128  34860  54704
14   마포구  385624  374742  10882  50122
5    광진구  371671  357149  14522  44470
6   동대문구  364962  349308  15654  56284
10   도봉구  345041  342861   2180  54293
9    강북구  327511  323862   3649  57002
13  서대문구  324871  312311  12560  49645
4    성동구  314551  306532   8019  41752
18   금천구  253344  234238  19106  34640
3    용산구  245411  229909  15502  37238
1    종로구  164348  154549   9799  26429
2     중구  135139  126082   9057  21655

# 10. 열 추가 - 파생변수
1. 총인구 대비 외국인의 비율을 계산한 값을 **외국인비율** 컬럼을 만들어 넣기 (외국인/총인구 * 100)
1. 총인구 대비 고령자의 비율을 계산한 값을 **고령자비율** 컬럼을 만들어 넣기

In [48]:
# 1. 총인구 대비 외국인의 비율을 계산한 값을 외국인비율 컬럼을 만들어 넣기 (외국인/총인구 * 100)
seoul_df_1['외국인비율'] = (seoul_df_1['외국인']/seoul_df_1['총인구'])*100
seoul_df_1

<ipython-input-48-819087e85956>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['외국인비율'] = np.round((df['외국인']/df['총인구'])*100,2)

        자치구         총인구        한국인       외국인        고령자  외국인비율
0        합계  10112070.0  9838892.0  273178.0  1382420.0   2.70
1       종로구    164348.0   154549.0    9799.0    26429.0   5.96
2        중구    135139.0   126082.0    9057.0    21655.0   6.70
3       용산구    245411.0   229909.0   15502.0    37238.0   6.32
4       성동구    314551.0   306532.0    8019.0    41752.0   2.55
5       광진구    371671.0   357149.0   14522.0    44470.0   3.91
6      동대문구    364962.0   349308.0   15654.0    56284.0   4.29
7       중랑구    411552.0   406868.0    4684.0    59992.0   1.14
8       성북구    453902.0   442226.0   11676.0    66896.0   2.57
9       강북구    327511.0   323862.0    3649.0    57002.0   1.11
10      도봉구    345041.0   342861.0    2180.0    54293.0   0.63
11      노원구    555803.0   551902.0    3901.0    75081.0   0.70
12      은평구    490253.0   485902.0    4351.0    75535.0   0.89
13     서대문구    324871.0   312311.0   12560.0    49645.0   3.87
14      마포구    385624.0   374742.0   10882.0    50122.0   2.82
15      양천구    473087.0   469221.0    3866.0    56070.0   0.82
16      강서구    608361.0   601696.0    6665.0    77381.0   1.10
17      구로구    440396.0   408369.0   32027.0    59838.0   7.27
18      금천구    253344.0   234238.0   19106.0    34640.0   7.54
19     영등포구    403988.0   369128.0   34860.0    54704.0   8.63
20      동작구    406715.0   394353.0   12362.0    57711.0   3.04
21      관악구    522292.0   504445.0   17847.0    70807.0   3.42
22      서초구    445164.0   440954.0    4210.0    54055.0   0.95
23      강남구    557865.0   552976.0    4889.0    65859.0   0.88
24      송파구    671994.0   665282.0    6712.0    77978.0   1.00
25      강동구    438225.0   434027.0    4198.0    56983.0   0.96
외국인비율   NaN         NaN        NaN       NaN        NaN    NaN

In [225]:
# 2. 총인구 대비 고령자의 비율을 계산한 값을 고령자비율 컬럼을 만들어 넣기
seoul_df_1['고령자비율'] = (seoul_df_1['고령자']/seoul_df_1['총인구'])*100
seoul_df_1

,자치구,세대,총인구,남자,여자,한국인,한국인남자,한국인여자,외국인,남자외국인,여자외국인,세대당인구,고령자,외국인비율,고령자비율
0,합계,4237610,10112070,4948481,5163589,9838892,4817507,5021385,273178,130974,142204,2.32,1382420,2.701504,13.670989
1,종로구,73879,164348,79962,84386,154549,75749,78800,9799,4213,5586,2.09,26429,5.962348,16.081121
2,중구,60903,135139,66582,68557,126082,62376,63706,9057,4206,4851,2.07,21655,6.701988,16.024242
3,용산구,108497,245411,119985,125426,229909,111262,118647,15502,8723,6779,2.12,37238,6.316750,15.173729
4,성동구,134543,314551,154672,159879,306532,150937,155595,8019,3735,4284,2.28,41752,2.549348,13.273523
5,광진구,161407,371671,180206,191465,357149,173946,183203,14522,6260,8262,2.21,44470,3.907219,11.964883
6,동대문구,160489,364962,180381,184581,349308,174476,174832,15654,5905,9749,2.18,56284,4.289214,15.421880
7,중랑구,179600,411552,204411,207141,406868,202526,204342,4684,1885,2799,2.27,59992,1.138131,14.577016
8,성북구,187234,453902,220024,233878,442226,215421,226805,11676,4603,7073,2.36,66896,2.572361,14.737983
9,강북구,143139,327511,159853,167658,323862,158440,165422,3649,1413,2236,2.26,57002,1.114161,17.404606
10,도봉구,137479,345041,168833,176208,342861,168009,174852,2180,824,1356,2.49,54293,0.631809,15.735231
11,노원구,217999,555803,269762,286041,551902,268144,283758,3901,1618,2283,2.53,75081,0.701867,13.508563
12,은평구,203431,490253,237542,252711,485902,235674,250228,4351,1868,2483,2.39,75535,0.887501,15.407351
13,서대문구,137758,324871,154960,169911,312311,150793,161518,12560,4167,8393,2.27,49645,3.866150,15.281450
14,마포구,170219,385624,182905,202719,374742,178661,196081,10882,4244,6638,2.20,50122,2.821920,12.997635
15,양천구,176559,473087,233189,239898,469221,231409,237812,3866,1780,2086,2.66,56070,0.817186,11.851943
16,강서구,256042,608361,296098,312263,601696,292871,308825,6665,3227,3438,2.35,77381,1.095567,12.719586
17,구로구,171751,440396,220903,219493,408369,202731,205638,32027,18172,13855,2.38,59838,7.272319,13.587317
18,금천구,106333,253344,129791,123553,234238,119023,115215,19106,10768,8338,2.20,34640,7.541525,13.673109
19,영등포구,168784,403988,203472,200516,369128,184127,185001,34860,19345,15515,2.19,54704,8.628969,13.540996
20,동작구,173544,406715,197848,208867,394353,192215,202138,12362,5633,6729,2.27,57711,3.039475,14.189543
21,관악구,258536,522292,262428,259864,504445,253911,250534,17847,8517,9330,1.95,70807,3.417054,13.556976
22,서초구,174225,445164,213279,231885,440954,211156,229798,4210,2123,2087,2.53,54055,0.945719,12.142716
23,강남구,231219,557865,267314,290551,552976,264834,288142,4889,2480,2409,2.39,65859,0.876377,11.805544
24,송파구,266550,671994,326511,345483,665282,323228,342054,6712,3283,3429,2.50,77978,0.998818,11.603973
25,강동구,177490,438225,217570,220655,434027,215588,218439,4198,1982,2216,2.45,56983,0.957955,13.003138

# 11. 기술 통계정보
1. 아래를 조회하는데 합계 행은 빼고 계산한다.
1. 총인구 컬럼의 평균, 합계, 중위값, 표준편차, 분산, 데이터개수
1. 외국인과 고령자의 평균, 표준편차 조회
1. 외국인이 가장 적은 행을 조회

In [229]:
# 1. 아래를 조회하는데 합계 행은 빼고 계산한다.
seoul_df_2 = seoul_df_1.drop(index = [0])
seoul_df_2

,자치구,세대,총인구,남자,여자,한국인,한국인남자,한국인여자,외국인,남자외국인,여자외국인,세대당인구,고령자,외국인비율,고령자비율
1,종로구,73879,164348,79962,84386,154549,75749,78800,9799,4213,5586,2.09,26429,5.962348,16.081121
2,중구,60903,135139,66582,68557,126082,62376,63706,9057,4206,4851,2.07,21655,6.701988,16.024242
3,용산구,108497,245411,119985,125426,229909,111262,118647,15502,8723,6779,2.12,37238,6.316750,15.173729
4,성동구,134543,314551,154672,159879,306532,150937,155595,8019,3735,4284,2.28,41752,2.549348,13.273523
5,광진구,161407,371671,180206,191465,357149,173946,183203,14522,6260,8262,2.21,44470,3.907219,11.964883
6,동대문구,160489,364962,180381,184581,349308,174476,174832,15654,5905,9749,2.18,56284,4.289214,15.421880
7,중랑구,179600,411552,204411,207141,406868,202526,204342,4684,1885,2799,2.27,59992,1.138131,14.577016
8,성북구,187234,453902,220024,233878,442226,215421,226805,11676,4603,7073,2.36,66896,2.572361,14.737983
9,강북구,143139,327511,159853,167658,323862,158440,165422,3649,1413,2236,2.26,57002,1.114161,17.404606
10,도봉구,137479,345041,168833,176208,342861,168009,174852,2180,824,1356,2.49,54293,0.631809,15.735231
11,노원구,217999,555803,269762,286041,551902,268144,283758,3901,1618,2283,2.53,75081,0.701867,13.508563
12,은평구,203431,490253,237542,252711,485902,235674,250228,4351,1868,2483,2.39,75535,0.887501,15.407351
13,서대문구,137758,324871,154960,169911,312311,150793,161518,12560,4167,8393,2.27,49645,3.866150,15.281450
14,마포구,170219,385624,182905,202719,374742,178661,196081,10882,4244,6638,2.20,50122,2.821920,12.997635
15,양천구,176559,473087,233189,239898,469221,231409,237812,3866,1780,2086,2.66,56070,0.817186,11.851943
16,강서구,256042,608361,296098,312263,601696,292871,308825,6665,3227,3438,2.35,77381,1.095567,12.719586
17,구로구,171751,440396,220903,219493,408369,202731,205638,32027,18172,13855,2.38,59838,7.272319,13.587317
18,금천구,106333,253344,129791,123553,234238,119023,115215,19106,10768,8338,2.20,34640,7.541525,13.673109
19,영등포구,168784,403988,203472,200516,369128,184127,185001,34860,19345,15515,2.19,54704,8.628969,13.540996
20,동작구,173544,406715,197848,208867,394353,192215,202138,12362,5633,6729,2.27,57711,3.039475,14.189543
21,관악구,258536,522292,262428,259864,504445,253911,250534,17847,8517,9330,1.95,70807,3.417054,13.556976
22,서초구,174225,445164,213279,231885,440954,211156,229798,4210,2123,2087,2.53,54055,0.945719,12.142716
23,강남구,231219,557865,267314,290551,552976,264834,288142,4889,2480,2409,2.39,65859,0.876377,11.805544
24,송파구,266550,671994,326511,345483,665282,323228,342054,6712,3283,3429,2.50,77978,0.998818,11.603973
25,강동구,177490,438225,217570,220655,434027,215588,218439,4198,1982,2216,2.45,56983,0.957955,13.003138

In [243]:
# 2. 총인구 컬럼의 평균, 합계, 중위값, 표준편차, 분산, 데이터개수
seoul_df_2.select_dtypes(exclude=['object']).agg(['mean','sum','median','std','var','count'])

,mean,sum,median,std,var,count
세대,169504.400000,4.237610e+06,171751.000000,52228.619313,2.727829e+09,25.0
총인구,404482.800000,1.011207e+07,406715.000000,128664.735948,1.655461e+10,25.0
남자,197939.240000,4.948481e+06,203472.000000,62441.763285,3.898974e+09,25.0
여자,206543.560000,5.163589e+06,207141.000000,66410.843680,4.410400e+09,25.0
한국인,393555.680000,9.838892e+06,394353.000000,130305.697044,1.697957e+10,25.0
한국인남자,192700.280000,4.817507e+06,192215.000000,63112.814258,3.983227e+09,25.0
한국인여자,200855.400000,5.021385e+06,202138.000000,67331.638251,4.533550e+09,25.0
외국인,10927.120000,2.731780e+05,9057.000000,8369.590678,7.005005e+07,25.0
남자외국인,5238.960000,1.309740e+05,4167.000000,4769.194861,2.274522e+07,25.0
여자외국인,5688.160000,1.422040e+05,4851.000000,3772.578083,1.423235e+07,25.0
세대당인구,2.303600,5.759000e+01,2.270000,0.167528,2.806567e-02,25.0
고령자,55296.800000,1.382420e+06,56284.000000,15035.905515,2.260785e+08,25.0
외국인비율,3.162069,7.905173e+01,2.572361,2.540405,6.453656e+00,25.0
고령자비율,13.970562,3.492641e+02,13.587317,1.565224,2.449926e+00,25.0

In [234]:
# 3. 외국인과 고령자의 평균, 표준편차 조회
seoul_df_2[['외국인','고령자']].agg(['mean','std'])

               외국인           고령자
mean  10927.120000  55296.800000
std    8369.590678  15035.905515

In [ ]:
# 4. 외국인이 가장 적은 행을 조회

In [52]:
# seoul_df_2['외국인'].min()
df.loc[df['외국인'].idxmin()] 
# idxmin() : 가장 적은 값을 가진 원소의 인덱스를 반환

자치구         도봉구
총인구      345041
한국인      342861
외국인        2180
고령자       54293
외국인비율      0.63
Name: 10, dtype: object

# 12. DataFrame 병합하기
### seoul_cctv.csv 파일
- 서울 자치구 연도별 CCTV 데이터 셋 [서울열린데이터광장](http://data.seoul.go.kr/dataList/OA-2734/C/1/datasetView.do)    


1. seoul_cctv.csv 파일을 DataFrame으로 읽기
2. 서울시 자치구별 인구 DataFrame과 서울시 자치구 CCTV 데이터 셋을 **자치구명을 기준으로** 결합하여 하나의 DataFrame으로 만드시오.

In [247]:
# 1. seoul_cctv.csv 파일을 DataFrame으로 읽기
cctv_df = pd.read_csv('seoul_cctv.csv')
cctv_df

     기관명  2014년 CCTV 수  2015년 CCTV 수  2016년 CCTV 수
0    강남구           430           584           932
1    강동구            99           155           377
2    강북구           120           138           204
3    강서구           258           184            81
4    관악구           260           390           613
5    광진구            78            53           174
6    구로구           173           246           323
7    금천구            51           269           354
8    노원구            57           451           516
9    도봉구           159            42           386
10  동대문구            23           198           579
11   동작구           341           103           314
12   마포구           118           169           379
13  서대문구            50            68           292
14   서초구           157           336           398
15   성동구            91           241           265
16   성북구            78           360           204
17   송파구            21            68           463
18   양천구           142            30           467
19  영등포구           214           195           373
20   용산구           218           112           398
21   은평구           224           278           468
22   종로구           314           211           630
23    중구           190            72           348
24   중랑구           121           177           109

In [261]:
# 2. 서울시 자치구별 인구 DataFrame과 서울시 자치구 CCTV 데이터 셋을 자치구명을 기준으로 결합하여 하나의 DataFrame으로 만드시오.
# seoul_df_1.info(), cctv_df.info()
new_df = seoul_df_1.merge(cctv_df, left_on = '자치구', right_on = '기관명', how ='inner').drop(columns = '기관명')
new_df

,자치구,세대,총인구,남자,여자,한국인,한국인남자,한국인여자,외국인,남자외국인,여자외국인,세대당인구,고령자,외국인비율,고령자비율,2014년 CCTV 수,2015년 CCTV 수,2016년 CCTV 수
0,종로구,73879,164348,79962,84386,154549,75749,78800,9799,4213,5586,2.09,26429,5.962348,16.081121,314,211,630
1,중구,60903,135139,66582,68557,126082,62376,63706,9057,4206,4851,2.07,21655,6.701988,16.024242,190,72,348
2,용산구,108497,245411,119985,125426,229909,111262,118647,15502,8723,6779,2.12,37238,6.316750,15.173729,218,112,398
3,성동구,134543,314551,154672,159879,306532,150937,155595,8019,3735,4284,2.28,41752,2.549348,13.273523,91,241,265
4,광진구,161407,371671,180206,191465,357149,173946,183203,14522,6260,8262,2.21,44470,3.907219,11.964883,78,53,174
5,동대문구,160489,364962,180381,184581,349308,174476,174832,15654,5905,9749,2.18,56284,4.289214,15.421880,23,198,579
6,중랑구,179600,411552,204411,207141,406868,202526,204342,4684,1885,2799,2.27,59992,1.138131,14.577016,121,177,109
7,성북구,187234,453902,220024,233878,442226,215421,226805,11676,4603,7073,2.36,66896,2.572361,14.737983,78,360,204
8,강북구,143139,327511,159853,167658,323862,158440,165422,3649,1413,2236,2.26,57002,1.114161,17.404606,120,138,204
9,도봉구,137479,345041,168833,176208,342861,168009,174852,2180,824,1356,2.49,54293,0.631809,15.735231,159,42,386
10,노원구,217999,555803,269762,286041,551902,268144,283758,3901,1618,2283,2.53,75081,0.701867,13.508563,57,451,516
11,은평구,203431,490253,237542,252711,485902,235674,250228,4351,1868,2483,2.39,75535,0.887501,15.407351,224,278,468
12,서대문구,137758,324871,154960,169911,312311,150793,161518,12560,4167,8393,2.27,49645,3.866150,15.281450,50,68,292
13,마포구,170219,385624,182905,202719,374742,178661,196081,10882,4244,6638,2.20,50122,2.821920,12.997635,118,169,379
14,양천구,176559,473087,233189,239898,469221,231409,237812,3866,1780,2086,2.66,56070,0.817186,11.851943,142,30,467
15,강서구,256042,608361,296098,312263,601696,292871,308825,6665,3227,3438,2.35,77381,1.095567,12.719586,258,184,81
16,구로구,171751,440396,220903,219493,408369,202731,205638,32027,18172,13855,2.38,59838,7.272319,13.587317,173,246,323
17,금천구,106333,253344,129791,123553,234238,119023,115215,19106,10768,8338,2.20,34640,7.541525,13.673109,51,269,354
18,영등포구,168784,403988,203472,200516,369128,184127,185001,34860,19345,15515,2.19,54704,8.628969,13.540996,214,195,373
19,동작구,173544,406715,197848,208867,394353,192215,202138,12362,5633,6729,2.27,57711,3.039475,14.189543,341,103,314
20,관악구,258536,522292,262428,259864,504445,253911,250534,17847,8517,9330,1.95,70807,3.417054,13.556976,260,390,613
21,서초구,174225,445164,213279,231885,440954,211156,229798,4210,2123,2087,2.53,54055,0.945719,12.142716,157,336,398
22,강남구,231219,557865,267314,290551,552976,264834,288142,4889,2480,2409,2.39,65859,0.876377,11.805544,430,584,932
23,송파구,266550,671994,326511,345483,665282,323228,342054,6712,3283,3429,2.50,77978,0.998818,11.603973,21,68,463
24,강동구,177490,438225,217570,220655,434027,215588,218439,4198,1982,2216,2.45,56983,0.957955,13.003138,99,155,377

# 13. Groupby와 집계
## forestfire.csv 파일
- 포르투칼 북서부 산림 산불관련 데이터 셋 [UCI Machine learning repository](https://archive.ics.uci.edu/ml/datasets/forest+fires)    


1. forestfire.csv 파일을 DataFrame으로 읽기
1. 어떤 컬럼들이 범주형 컬럼인지 확인.
1. 월(month)과 요일(day) 의 고유한(unique) 값들과 각각의 행수 조회
1. 요일(day) 별 wind의 평균을 조회
1. 요일(day) 별 wind, rain의 평균을 조회
1. 요일(day) 별 wind, rain의 평균과 합계과 개수 조회
1. 요일(day) 별로 wind는 평균을 rain은 합계와 최대값을 조회
1. 월(month) 그리고 요일별(day) temp의 최대값과 최소값을 조회
1. X좌표(X), Y좌표(Y)별 temp의 평균울 pivot table로 조회

In [133]:
# 1. forestfire.csv 파일을 DataFrame으로 읽기
forest_df = pd.read_csv('forestfire.csv')
forest_df

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain   area
0    7  5   mar  fri  86.2   26.2   94.3   5.1   8.2  51   6.7   0.0   0.00
1    7  4   oct  tue  90.6   35.4  669.1   6.7  18.0  33   0.9   0.0   0.00
2    7  4   oct  sat  90.6   43.7  686.9   6.7  14.6  33   1.3   0.0   0.00
3    8  6   mar  fri  91.7   33.3   77.5   9.0   8.3  97   4.0   0.2   0.00
4    8  6   mar  sun  89.3   51.3  102.2   9.6  11.4  99   1.8   0.0   0.00
..  .. ..   ...  ...   ...    ...    ...   ...   ...  ..   ...   ...    ...
512  4  3   aug  sun  81.6   56.7  665.6   1.9  27.8  32   2.7   0.0   6.44
513  2  4   aug  sun  81.6   56.7  665.6   1.9  21.9  71   5.8   0.0  54.29
514  7  4   aug  sun  81.6   56.7  665.6   1.9  21.2  70   6.7   0.0  11.16
515  1  4   aug  sat  94.4  146.0  614.7  11.3  25.6  42   4.0   0.0   0.00
516  6  3   nov  tue  79.5    3.0  106.7   1.1  11.8  31   4.5   0.0   0.00

[517 rows x 13 columns]

In [262]:
# 2.  어떤 컬럼들이 범주형 컬럼인지 확인.
# 변수형 컬럼은 어떻게 알수 있는거지? 
forest_df.info() # TODO

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517 entries, 0 to 516
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X       517 non-null    int64
 1   Y       517 non-null    int64
 2   month   517 non-null    object
 3   day     517 non-null    object
 4   FFMC    517 non-null    float64
 5   DMC     517 non-null    float64
 6   DC      517 non-null    float64
 7   ISI     517 non-null    float64
 8   temp    517 non-null    float64
 9   RH      517 non-null    int64
 10  wind    517 non-null    float64
 11  rain    517 non-null    float64
 12  area    517 non-null    float64
dtypes: float64(8), int64(3), object(2)
memory usage: 52.6+ KB

In [140]:
# 3. 월(month)과 요일(day) 의 고유한(unique) 값들과 각각의 행수 조회
forest_df['month'].nunique() # 12
forest_df['day'].nunique() # 7

7

In [145]:
# 4. 요일(day) 별 wind의 평균을 조회
forest_df.groupby('day')['wind'].mean()

day
fri    4.494118
mon    3.737838
sat    3.758333
sun    4.123158
thu    3.711475
tue    4.271875
wed    3.912963
Name: wind, dtype: float64

In [149]:
# 5. 요일(day) 별 wind, rain의 평균을 조회
forest_df.groupby('day')[['wind','rain']].mean()

         wind      rain
day
fri  4.494118  0.018824
mon  3.737838  0.000000
sat  3.758333  0.000000
sun  4.123158  0.010526
thu  3.711475  0.000000
tue  4.271875  0.131250
wed  3.912963  0.003704

In [150]:
# 6. 요일(day) 별 wind, rain의 평균과 합계과 개수 조회
forest_df.groupby('day')[['wind','rain']].agg(['mean','count'])

         wind            rain
         mean count      mean count
day
fri  4.494118    85  0.018824    85
mon  3.737838    74  0.000000    74
sat  3.758333    84  0.000000    84
sun  4.123158    95  0.010526    95
thu  3.711475    61  0.000000    61
tue  4.271875    64  0.131250    64
wed  3.912963    54  0.003704    54

In [152]:
# 7. 요일(day) 별로 wind는 평균을 rain은 합계와 최대값을 조회
forest_df.groupby('day').agg({'wind' : 'mean',
                             'rain' : ['sum','max']})

         wind rain
         mean  sum  max
day
fri  4.494118  1.6  1.4
mon  3.737838  0.0  0.0
sat  3.758333  0.0  0.0
sun  4.123158  1.0  1.0
thu  3.711475  0.0  0.0
tue  4.271875  8.4  6.4
wed  3.912963  0.2  0.2

In [155]:
# 8. 월(month) 그리고 요일별(day) temp의 최대값과 최소값을 조회 --> 복수열 기준 그루핑 
forest_df.groupby(['month','day'])['temp'].agg(['max','min'])

            max   min
month day
apr   fri  16.7  16.7
      mon  10.9  10.9
      sat   9.3   9.3
      sun  17.6  13.4
      thu   5.8   5.8
...         ...   ...
sep   sat  30.2  15.4
      sun  28.3  12.2
      thu  27.7  12.9
      tue  24.3  13.1
      wed  26.4  10.5

[64 rows x 2 columns]

In [264]:
# 9. X좌표(X), Y좌표(Y)별 temp의 평균울 pivot table로 조회
forest_df.pivot_table(values =['X','Y'] ,index = 'temp',aggfunc='mean' ) 
# TODO

             X         Y
temp
2.2   4.000000  6.000000
4.2   6.000000  3.000000
4.6   3.833333  3.833333
4.8   4.000000  6.000000
5.1   6.200000  5.000000
...        ...       ...
32.3  3.000000  4.000000
32.4  2.500000  3.500000
32.6  4.000000  5.000000
33.1  2.000000  5.000000
33.3  6.000000  5.000000

[192 rows x 2 columns]